
.servicio{
    background-color: #a8a4a1;
}
.servicios {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 5px 5px 5px 5px ;
    background-color:#FDEDEC;
}

.servicios li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.servicios li:hover {
    border-color: #DC143C;
}

.servicios h2 {
    font-size: 30px;
    font-weight: bold;
}

.servicios li:hover h2 {
    font-size: 34px;
    color: #DC143C;
}

.servicio-descripcion {
    font-size: 18px;
}

.servicio-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}