.producto {
    background: linear-gradient(#888583, #f0ebe9);
}

.titulo-secundario {
    padding: 20px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}



.productos {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px;
    background-color: #FDEDEC;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 21%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.producto li:hover {
    border-color: #DC143C;
}


.producto h2 {
    font-size: 2em;
    font-weight: bold;
}

.producto li:hover h2 {
    font-size: 2.2em;
    color: #DC143C;
}

.producto-descripcion {
    font-size: 1.2em;
}

.producto-precio {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
}