
.servicio{
    background: linear-gradient(#888583, #f0ebe9);
    height: 100%;
    padding: 0;
}

.titulo-secundario {
    padding: 20px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}


.servicios {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px ;
    background-color:#FDEDEC;
}

.servicios li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.servicios li:hover {
    border-color: #DC143C;
}

.servicios h2 {
    font-size: 2em;
    font-weight: bold;
}

.servicios li:hover h2 {
    font-size: 2.2em;
    color: #DC143C;
}

.servicio-descripcion {
    font-size: 1.2em;
}

.servicio-precio {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 10px;
}